* {
  margin: 0;
  padding: 0;
}

body {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKccEXsv3d5CzAQ_jrPT3fJdTufaxXyJQLLuu87J1Ltj0bwSTQJAQmQAE2sBA--hs3eZ8&usqp=CAU);
  background-size: cover;
}

.full-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container {
  padding: 20px 30px;
  background: rgba(0,0,0,0.15);
  border-radius: 10px;
  margin-bottom: 20px;
}

.title h1 {
  font-size: 100px;
  font-family: 'Outfit', sans-serif;
  color: white;
}

.vert-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vert-container .row {
  width: 100%;
}

.flex-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.select-container {
  background: rgba(0,0,0,0.15);
  padding: 30px;
  border-radius: 10px;
  color: white;
}

.select-container p {
  font-size: 16px;
}

#select-text {
  display: flex;
  align-items: center;
}

select {
  padding: 5px;
  border-radius: 4px;
  border: none;
  height: 40px;
  margin-right: 20px;
}

.unclicked {
  padding: 10px;
  width: 300px;
  height: 150px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
  background-color: #d8eaf0;
  margin: 10px;
}

.clicked {
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
  background-color: #aebdc2;
  margin: 10px;
  display: inline;
}

/* https://codepen.io/josephespana/pen/MeKroz */

.unclicked::after {
  z-index: -1;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
  display: inline;
}

.unclicked:hover {
  transform: scale(1.1, 1.1);
  display: inline;
}

.clicked::after {
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
}
  
.clicked:hover {
  transform: scale(1.1, 1.1);
}

#header{
  font-size: 40px;
  text-align: center;
}

button{
  border-radius: 5px;
  border: 2px inset #2c87d7;
  width: 120px;
  height: 40px;
  background-color: rgba(4, 48, 122, 0.91);
  color: #d9d9d9;
  align-items: center;
  font-family: Outfit;
}

.sidebar{
  display: flex;
  flex-direction: column;
  width: 100px;
  float: right;
  align-items: center;
  margin-bottom: 10px;
}

.little{
  width: 80px;
  background-color: rgba(255,255,255,0.42);
  border-radius: 5px;
  padding: 5px;
}

.sidebar > a > div{
  height: 75px;
  width: 75px;
  margin: 10px;
  color: white;
}


.popup {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 0;
  overflow: hidden;
  background-color: #000; color: #FFF;
  transition: all 1s;
}

.popup.close {
  top: 100%;
  height: 0;
}
