.flex-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }

.flex-container > div {
    padding: 10px;
    width: 300px;
    height: 150px;
    background-color: yellow;
    margin: 10px;
}

#header{
    font-size: 40px;
    text-align: center;
}

button{
    width:200px;
    height: 50px;
    background-color: green;
    color: white;
    align-items: center;
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 100px;
    background-color: red;
    float: right;
    align-items: center;
}

.sidebar > a > div{
    height: 75px;
    width: 75px;
    background-color: blue;
    margin: 10px;
    color: white;
}


.popup {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 0;
    overflow: hidden;
    background-color: #000; color: #FFF;
    transition: all 1s;
  }
  
  .popup.close {
    top: 100%;
    height: 0;
  }

  .classWithShadow{
    -moz-box-shadow: 3px 3px 4px #000; 
    -webkit-box-shadow: 3px 3px 4px #000; 
    box-shadow: 3px 3px 4px #000; 
 }
