.center {
    display: block;
    position: fixed;
    top: 50%; 
    left: 50%; 
    margin-top: -50px; 
    margin-left: -100px;
}

.tongue {
    display: block;
    position: fixed;
    top: 50%; 
    left: 50%; 
    margin-top: 56px;
    margin-left: 0px;
    height: 30px;
    width: 30px;
    transform-origin: 20% 0%;
    transform: rotate(100deg);
}

#button {
    display: inline-block;
    width: 50px;
    height: 30px;
    /* border-style: solid; */
    border-width: 1px;
    border-radius: 30px;
    padding: 0px 10px; 
    text-align: center;
    line-height: 6px;
    background-color: #d0d0d0;
    color:#5b5b5b;
    font-weight: bold;
}

#button:hover {
    /* background-color: red; */
    cursor: pointer;
}
